/* start Guide Page */
.guideImage{
    background-image: url(../Images/bg.jpeg);
    background-size: cover;
    background-position-x: center ;
    transition: all 0.9s ease
}

/* calculate page */

/* form control label  Css */
.css-g6pte{
    display: flex !important;
    font-size: large !important;
}

.css-j2xror{
    top:4px !important
}

/* chakra button  checkborrowcapacity*/
.css-1kxzcz2{
 background: #006875 !important;
}
.css-1kxzcz2:hover{
 background: #037c8b !important;
}


/* chakra button  StartStarted */
.css-145sfi2{
    background: #006875 !important;
}
.css-145sfi2:hover{
    background: #037c8b !important;
}