/* ToggleButton.css */
.toggle-button{
    display: inline-block;

    /* border: 2px solid #7091F5; */
    /* width: 180.4px; */
    /* margin: 100; */
    
}
.toggle-button button {
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 1;
    margin-right: 10px;
  }
  
  .toggle-button button.active {
    background-color: #006875; /* Change this to your desired color */
    color: #fff; /* Text color for the active button */
  }
  


/* Styles for the icon container */
.icon-container {
  display: inline-block;
  transition: transform 0.2s ease-in-out; 
  color: #4c4e4e;
}

/* Hover effect */
.icon-container:hover {
  color: #6b6d6d;
  cursor: pointer;
  transform: scale(1.1);
}

/* Tooltip or popup */
.MuiTooltip-tooltip {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  min-width: 440px;
  font-size: 12px;
  padding: 8px 12px;
}
